@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
* {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  display: block;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body section div h2 {
  font-size: 30px;
}

body #banner {
  margin-top: 70px;
  position: relative;
  height: 800px;
  overflow: hidden;
  width: 100%;
}

body #banner .bannerLeft {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
  width: 360px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 156px;
}

body #banner .bannerLeft .bigLogo {
  background: url(../img/logo1.png) no-repeat center center;
  width: 130px;
  height: 84px;
  cursor: pointer;
}

body #banner .bannerLeft .bannerList {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

body #banner .bannerLeft .bannerList li {
  color: #f0f0f0;
  cursor: pointer;
}

body #banner .bannerLeft .bannerList li.select {
  font-weight: bold;
}

body #banner .bannerLeft small {
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 30px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 300;
}

body #banner .bannerRight {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body #banner .bannerRight .bannerImg {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #banner .bannerRight .bannerImg li {
  width: 100%;
  height: 100%;
}

body #banner .bannerRight .bannerImg li.b0 {
  background: url(../img/banner5.jpg) no-repeat center center;
}

body #banner .bannerRight .bannerImg li.b1 {
  background: url(../img/banner1.jpg) no-repeat center center;
}

body #banner .bannerRight .bannerImg li.b2 {
  background: url(../img/banner2.jpg) no-repeat center center;
}

body #banner .bannerRight .bannerImg li.b3 {
  background: url(../img/banner3.jpg) no-repeat center center;
}

body #banner .bannerRight .bannerImg li.b4 {
  background: url(../img/banner4.jpg) no-repeat center center;
}

body #recommend div {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #recommend div .recommendTab {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
}

body #recommend div .recommendList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
}

body #best {
  position: relative;
}

body #best .best_inner {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #best .best_inner h2 {
  text-align: center;
  margin-bottom: 30px;
}

body #best .best_inner p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

body #best .best_inner ul.best_inner_list {
  width: 100%;
  position: relative;
}

body #best .best_inner ul.best_inner_list::after {
  content: '';
  display: block;
  clear: both;
}

body #best .best_inner ul.best_inner_list li {
  width: 23.5%;
  margin-left: 2%;
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

body #best .best_inner ul.best_inner_list li img {
  margin-bottom: 30px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: 100%;
}

body #best .best_inner ul.best_inner_list li h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

body #best .best_inner ul.best_inner_list li p {
  color: #c80a1e;
  margin-bottom: 0;
  text-align: center;
}

body #best .best_inner ul.best_inner_list li:nth-child(4n+1) {
  margin-left: 0;
}

body #middle_banner {
  width: 100%;
  height: 800px;
  background: url(../img/middle_banner.jpg) no-repeat center center;
}

body #middle_banner div {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #middle_banner div a {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #sns {
  background: #f0f0f0;
  padding: 75px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #sns div {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #sns div h2 {
  text-align: center;
  margin-bottom: 30px;
}

body #sns div span {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

body #sns div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #info {
  position: relative;
  padding: 70px;
  overflow: hidden;
  margin-top: 50px;
}

body #info .info_inner {
  position: relative;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #info .info_inner .info_text {
  position: relative;
  width: 380px;
  height: 500px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #info .info_inner .info_text h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  padding-top: 20px;
}

body #info .info_inner .info_text h3 {
  font-size: 36px;
  font-weight: 300;
  text-align: left;
  margin-top: 40px;
}

body #info .info_inner .info_text h3 span {
  color: #c80a1e;
}

body #info .info_inner .info_text p {
  font-size: 18px;
  font-weight: 400;
}

body #info .info_inner .info_text p:nth-child(3) {
  margin-top: 70px;
}

body #info .info_inner .info_text p:nth-child(4) {
  margin-top: 20px;
}

body #info .info_inner .info_wrap {
  position: absolute;
  left: 380px;
  height: 500px;
  top: 0;
}

body #info .info_inner .info_wrap .info_list {
  position: relative;
  width: 2157px;
  overflow: hidden;
}

body #info .info_inner .info_wrap .info_list > li > a {
  width: 100%;
  height: 100%;
  display: block;
}

body #info .info_inner .info_wrap .info_list::after {
  content: '';
  display: block;
  clear: both;
}

body #info .info_inner .info_wrap .info_list > li {
  float: left;
  margin-right: 2%;
  width: 32%;
}

body #info .info_inner .info_wrap .info_list > li:last-child {
  margin-right: 0;
}

body #info .info_inner .info_control {
  width: 1200px;
  margin: 50px auto;
  height: 60px;
}

body #info .info_inner .info_control > ul {
  width: 540px;
  margin-left: 380px;
}

body #info .info_inner .info_control > ul::after {
  content: '';
  display: block;
  clear: both;
}

body #info .info_inner .info_control > ul > li {
  float: left;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 180px;
  text-align: center;
  border-bottom: 8px solid #f0f0f0;
  line-height: 40px;
}

body #info .info_inner .info_control > ul > li.select {
  border-bottom: 8px solid #c80a1e;
}

body #info .info_inner .info_control > ul > li div {
  background-color: #f0f0f0;
  width: 180px;
  height: 8px;
  margin-top: 10px;
}

body #info .info_inner .info_control .info_control_btn {
  width: 140px;
  position: absolute;
  right: 13%;
  bottom: -10px;
  margin-left: 20px;
}

body #info .info_inner .info_control .info_control_btn div {
  float: left;
  margin-left: 20px;
  display: block;
}

#footer {
  position: relative;
  background-color: #f0f0f0;
  margin-top: 50px;
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 445px;
  font-size: 14px;
}

#footer #footer_inner {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer_inner .footer_top {
  height: 50%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  padding-bottom: 50px;
}

#footer #footer_inner .footer_top .footer_inner_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 352px;
  gap: 70px;
}

#footer #footer_inner .footer_top .footer_inner_box .footer_inner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#footer #footer_inner .footer_top .footer_inner_box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13.btnLst {
  border: 1px solid #aaa;
  background-color: #FFF;
  padding: 5px;
  font-weight: bold;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13.kkBtn {
  margin-left: 29px !important;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13 .mgB8px {
  font-weight: bold;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13 .icnKakaoBlckAftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl .f13 .icnKakaoBlckAftr::after {
  display: block;
  content: '';
  background: url(../img/kakao.png) no-repeat center center;
  width: 16px;
  height: 16px;
}

#footer #footer_inner .footer_top .footer_inner_box2 dl:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 5px;
}

#footer #footer_inner .footer_bottom {
  padding-top: 50px;
  width: 100%;
  height: 50%;
  border-top: 1px solid #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 155px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
}

#footer #footer_inner .footer_bottom .footer_inner_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

#footer #footer_inner .footer_bottom .footer_inner_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
/*# sourceMappingURL=footer.css.map */