

#header{
    position: fixed; height: 70px; z-index: 9999; width: 100%; left:0; top:0;
    background-color:$bg-white;
    padding: 17.5px 20px;
    box-sizing: border-box;

    .header_inner{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content:end;
        gap: 320px;
        .top_logo{
            margin-right: 60px;
        }
        .gnb{
            display: flex;
            flex-direction: row;
            ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap:100px;
                li{
                    position: relative;
                    font-size: 18px;
                    cursor: pointer;
                    .gnb_inner{
                        display: none;
                    }
                    &:hover{
                        font-weight: bold;
                        .gnb_inner{
                            position: absolute;
                            left: 0;
                            top:30px;
                            display: flex;
                            flex-direction: column;
                            background: #f294f2;
                            gap:10px;
                            width:100px;
                            height: 150px;
                            padding: 15px;
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .util{
            display: flex;
            flex-direction: row;
            height: 100%;
            ul{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                li{
                   font-size: 16px;
                   cursor: pointer;
                    p{
                        display: none;
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                    &.search{
                        width: 20px;
                        height: 20px;
                        background: url(../img/search.png) no-repeat center center;
                    }
                    &.basket{
                        width: 20px;
                        height: 20px;
                        background: url(../img/basket.png) no-repeat center center;
                    }
                }
            }
        }
        .mob_btn{
            display: none;
        }
    }
    .mob_gnb{
        display: none;
    }

    
    
}
//노트북
@include laptop {
    #header {background-color: #f294f2;
        position: fixed; height: 80px; z-index: 9999; width: 100%; left:0; top:0; background-color: #fff;
        .gnb{
            .gnb_list{display: none;}
            .top_logo{
                display: block; top:14px; position: absolute; margin-left: 50px;
            }
        }
        .util{
            display: none;
        }
        .mob_btn{display: block; right:50px; top:25px;position: absolute;}
        .mob_gnb{display: none;}
    }
}
    
// 태블릿에서 노트북
@include laptopToTablet {}

// 태블릿
@include tablet {
    #header{  height: 80px; width:100%; position: fixed; z-index: 9999; background-color: #fff;}
    #header .gnb{position:relative;}
    #header .gnb .top_logo2{display: block; top:14px; position: absolute; margin-left: 0; left: 50%; transform: translateX(-50%);}
    #header .gnb .gnb_list{display: none;}
    #header .gnb .util{display: none;}

    #header .gnb>ul>li>ul{background-color: #FFF; display: none;}
    #header .gnb>ul>li>ul a{display: block; text-align: center; line-height: 40px; font-size: 14px; color: #181818;}
    #header .mob_btn{display: block; left:50px; top:27.5px; position: absolute; } 
    #header .util{display: none;}
    
    #header .mob_gnb{width:90%; position: absolute; height: 600px; background-color:#f0f0f0; left:50%; top:80px;border-radius: 20px; transform: translateX(-50%); padding: 50px; box-sizing: border-box; display: none;}
    #header .mob_gnb .gnb_list{width: 100px; margin: 0 auto;text-align: center; }
    #header .mob_gnb .gnb_list>li{border-bottom: 1px solid #fff; margin-bottom: 20px;}
    #header .mob_gnb .gnb_list>li>a{font-size: 20px; color:#aaa; text-align: center;}
    #header .mob_gnb>ul>li>ul{display: none; border-bottom: 1px solid #fff;text-align: center;}
    #header .mob_gnb>ul>li>.gnb_inner>li>a{display: block; text-align: center; line-height: 30px;color:#181818;font-size: 13px; }
}

// 모바일에서 태블릿
@include tabletToMobile  {}

// 모바일
@include mobile  {
    #header{ height: 60px; width:100%; position: fixed; z-index: 9999; background-color: #fff; display: flex; flex-direction: row;
        .header_inner{
            width: 100%;
            .top_logo{
                
            }
            .gnb{
                display: none;
            }
            .mob_btn{
                display: block;
            }
            .util{
                display: none;
            }
        }
        .mob_gnb{
            width:90%; position: absolute; height: 600px; background-color:#f0f0f0; left:50%; top:80px;border-radius: 20px; transform: translateX(-50%); padding: 50px; box-sizing: border-box; display: none;
            .gnb_list{width: 100px; margin: 0 auto;text-align: center; 
                li{border-bottom: 1px solid #fff; margin-bottom: 20px;
                    a{font-size: 20px; color:#aaa; text-align: center;}
                    ul{display: none; border-bottom: 1px solid #fff;text-align: center;}
                    .gnb_inner{
                        li{
                            a{
                                display: block; text-align: center; line-height: 30px;color:#181818;font-size: 13px; 
                            }
                        }
                    }
                
                }
            }
        }
    }
}


